/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration globale du body */
body {
  @apply  text-gray-900 overflow-x-hidden;
  font-family: 'Noto Kufi Arabic', sans-serif; /* On changera pour une police arabe après */
}

/* Utilitaires pour gérer la direction du texte */
[dir="rtl"] {
  text-align: right;
}

[dir="ltr"] {
  text-align: left;
}

/* Style pour le contenu des articles venant du Backend */
.article-content p {
  line-height: 1.8 !important; /* Espace généreux pour l'arabe et le français */
  margin-bottom: 1.5rem; /* Espace entre les paragraphes */
}

.article-content h1, 
.article-content h2, 
.article-content h3 {
  line-height: 1.4 !important;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

/* Correction spécifique pour le titre principal s'il est écrasé */
h1 {
  line-height: 1.3 !important;
}